.read_later_date {
    display: flex;
    margin-bottom: 50px;
    min-height: 300px;
    border-right: 1px solid #d1d1d1;
}
.date {
    display: flex;
    align-items: center;
    margin: 0 25px 0 0;
    padding: 0 10px;
    background-color: #f3f3f3;
}
.date_srting {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 16px;
    font-weight: 600;
}
.cards {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}