.top_news {
    display: flex;
}
.wrapper {
    width: 85%;
    margin: 50px auto;
}

.column_news_block_wrapper {
    width: 57%;
    margin-right: 3%;
}

.column_news_wrapper {
    width: 40%;
}