.news_column {
    
    width: 100%;
    min-height: 120px;
    margin: 0 10px 10px 0;
    padding: 20px 0;
    border-bottom: solid 1px rgb(228, 228, 228);
    transition-duration: 300ms;
    &:hover {
        border-color: rgb(122, 122, 122); 
    }
}
.news_column_link {
    display: flex;
}
.news_column_infoleft {
    width: 80%;
}
.news_column_author {
    color: #868686;
}
.news_column_title {
    h3 {
        margin: 10px 15px 10px 0;
        font-size: 22px;
    }
}
.news_published_time {
    margin: 10px 0 2px 0;
    font-size: 13px;
}
.news_column_timeread {
    margin-top: 12px;
    color: #868686;
}
.news_column__image {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    img {
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }
}