.button_absolute_block {
    position: absolute;
    z-index: 20;
    right: 10px;
    bottom: 10px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 300ms;
}
.news_quick_card {
    width: calc(100% / 4 - 10px);
    height: 400px;
}
.news_quick_card__img {
    position: relative;
    width: 100%;
    height: 50%;
    &:hover .button_absolute_block{
        visibility: visible;
        opacity: 1;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.news_quick_card__bottom_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    margin-right: 15px;
}
.news_quick_card__name {
    height: 45%;
}
.news_quick_card__name_title {
    font-weight: normal;
}
.news_quick_card__author {
    margin-top: 18px;
    height: 5%;
}