.article_content {
    padding: 60px 0;
    font-size: 20px;
    line-height: 30px;
}

.internal_text {
    width: 80%;
    margin: 0 auto;
}

.red_string {
    display: inline-block;
    padding: 15px;
    padding-left: 0;
    font-size: 5.5rem;
    font-weight: bold;
    color: rgb(56, 56, 56);
}